@charset "UTF=8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#part1 {
    background-color: darkgray;
    height: 660px;
}

header {
    text-align: left;
    color: white;
    max-width: 650px;
    margin: auto;
    padding: 25px 10px 10px 10px;
}

header > h1 {
    display: inline;
}

header strong {
    color: orangered;
}

header a {
    text-decoration: none;
    color: white;
}

main {
    background-color: darkgray;
}

#principal {
    background-color: white;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.350);
}

#principal h2 {
    color: orangered;
    margin-bottom: 30px;
}

#ref {
    text-align: center;
    color: white;
    margin-top: 100px;
}

#ref  a {
    color: orangered;
    text-decoration: none;
    font-weight: bold;
}

#part2 {
    padding: 35px;
}

#part2 h1 {
    color: orangered;
}

#part2 ul,li {
    margin-top: 25px;
}

#part2 a {
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}

#part2 a:hover {
    text-decoration: underline;
}